# Servidor
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/skillshare"

# JWT
JWT_SECRET="muda ai"
JWT_EXPIRES_IN="7d"

# Email (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Frontend URL (para o CORS)
FRONTEND_URL=http://localhost:5173
